# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
datasets_using/
results/
test/
cache/
datasets/
src/__pycache__
neurologic_super_fast/__pycache__
keyword_extraction_methods/__pycache__